@media screen and (min-width: 425px) {
    .header {
        padding: 26.4px 22.4px;
    }

    .header .brand-logo {
        width: 88px;
    }

    .header .menu-link {
        font-size: 1.21rem;
    }

    .hero {
        width: 100%;
    }

    .hero::before {
        background-position-y: 20.647%, 51.7%; 
    }

    .hero .heading {
        font-size: 2.68rem;
    }

    .text {
        font-size: 1.54rem;
    }

    .cta {
        font-size: 1.54rem;
    }

    .feature-heading {
        font-size: 1.87rem;
    }

    .feature-icon {
        width: 70.4px;
    }

    .feature-icon--security {
        width: 59.4px;
    }

    .highlight .heading {
        font-size: 1.98rem;
    }
    
    .highlight-img .img {
        width: 99%;
    }

    .cta--link {
        font-size: 1.21rem;
    }

    .testimonials {
        max-width: 400px;
    }

    .testimonials::before {
        top: -17.6px;
        height: 24.2px;
        width: 24.2px;
    }
    
    .testimonial-text {
        font-size: 1.001rem;
    }

    .testimonial-avatar {
        height: 26.8px;
        width: 26.8px;
    }

    .testimonial-name {
        font-size: 1.1rem;
    }

    .testimonial-title {
        font-size: 0.88rem;
    }

    .newsletter .heading {
        font-size: 1.98rem;
    }

    .newsletter .email {
        font-size: 1.32rem;
    }

    .newsletter .email::placeholder {
        font-size: 1.1rem;
    }

    .newsletter .email::-moz-placeholder {
        font-size: 1.1rem;
    }

    .newsletter .email::-webkit-input-placeholder {
        font-size: 1.1rem;
    }

    .footer {
        padding: 269.5px 30.8px 55px;
    }

    .footer-text {
        max-width: 425px;
    }
}

@media screen and (min-width: 576px) {
    /* +25% */
    
    .header {
        padding: 33px 28px;
    }

    .header .brand-logo {
        width: 110px;
    }

    .header-menu {
        column-gap: 18.75px;
    }
    
    .menu-item {
        margin-inline: 6.25px;
    }
    
    .header .menu-link {
        font-size: 1.5125rem;
    }

    .hero {
        --header-height--mobile: 100.5px;
        padding-block: calc(355px + var(--header-height--mobile)) 200px;
    }
    
    .hero::before {
        background-position-y: 23.4625%, 64.625%;
    }
    
    .hero::after {
        max-height: 275px;
    }

    .hero .copy {
        row-gap: 18.75px;
        padding-inline: 25px;
    }

    .hero .heading {
        font-size: 3.35rem;
    }

    .hero .text {
        margin-inline: 27px;
    }

    .text {
        font-size: 1.925rem;
    }

    .hero .cta {
        border-radius: 30px;
        font-size: 2rem;
    }

    .features {
        padding-block: 60px;
    }
    
    .features,
    .highlight,
    .testimonials,
    .newsletter {
        max-width: 550px;
    }

    .feature-heading {
        font-size: 2.3375rem;
    }

    .feature .text {
        margin-inline: 0;
    }
    
    .feature-icon {
        height: 76px;
        width: 76px;
    }

    .highlight {
        row-gap: 60px;
    }

    .highlight .heading {
        font-size: 2.475rem;
        text-indent: 5.4px;
    }

    .cta--link {
        font-size: 1.5125rem;
    }

    .highlight-img .img {
        max-width: 505px;
        width: 100%;
    }

    .testimonials {
        row-gap: 30px;
    }
    
    .testimonials::before {
        top: -22px;
        left: 66.25px;
        height: 30.25px;
        width: 30.25px;
    }
    
    .testimonial {
        row-gap: 21.25px;
        padding: 30px 26.25px;
    }
    
    .testimonial-text {
        font-size: 1.25125rem;
    }

    .testimonial-info {
        column-gap: 10.8px;
    }

    .testimonial-avatar {
        height: 33.5px;
        width: 33.5px;
    }
    
    .testimonial-name {
        font-size: 1.375rem;
    }

    .testimonial-title {
        font-size: 1.1rem;
    }

    .newsletter .heading {
        font-size: 2.475rem;
    }

    .newsletter .email {
        font-size: 1.65rem;
    }

    .cta {
        font-size: 1.925rem;
    }

    .footer {
        padding: 369.5px 50.8px 100px;
    }

    .company-info {
        row-gap: 20px;
    }

    .footer .brand-link {
        margin-inline-start: 0;
    }

    .footer .menu-link {
        font-size: 1.6rem;
    }
}