:root {
    --clr__bg--intro-email: hsl(217, 28%, 15%);
    --clr__bg--main: hsl(218, 28%, 13%);
    --clr__bg--footer: hsl(216, 53%, 9%);
    --clr__bg--testimonials: hsl(219, 30%, 18%);
    --clr__accent--cyan: hsl(176, 68%, 64%);
    --clr__accent--blue: hsl(198, 60%, 50%);
    --clr__accent--light-red: hsl(0, 100%, 63%);
    --clr__neut--white: hsl(0, 0%, 100%);
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.img {
    vertical-align: middle;
    max-width: 100%;
}

.home {
    position: relative;
}

/*
header
*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 20px;
    background-color: transparent;
    z-index: 10;
    width: 100%;
}

.nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.link {
    display: inline-block;
    font-family: Raleway;
    text-decoration: none;
}

.brand-link {
    margin-inline-end: 10px;
}

.brand-logo {
    height: auto;
    width: 80px;
}

.header-menu {
    column-gap: 15px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-inline: 5px;
    min-width: fit-content;
}

.menu-link {
    color: var(--clr__neut--white);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    opacity: 0.85;
}

/*
main
*/

.main {
    background-color: var(--clr__bg--main);
}

.features,
.highlight,
.testimonials {
    padding-inline: 20px;
}

.hero {
    --header-height--mobile: 73.63px;
    position: relative;
    padding-block: calc(281px + var(--header-height--mobile)) 100px;
    background-color: var(--clr__bg--intro-email);
    isolation: isolate;
    overflow: hidden;
    z-index: 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/illustration-intro.png")
                no-repeat
                center 18.77% / 81%,
                url("../images/bg-curvy-mobile.svg")
                no-repeat
                center 47% / 100%;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--clr__bg--main);
    z-index: 0;
    height: 100%;
    max-height: 335px;
    width: 100%;
}

.copy {
    display: flex;
    flex-direction: column;
    color: var(--clr__neut--white);
    text-align: center;
}

.hero .copy {
    position: relative;
    align-items: center;
    row-gap: 15px;
    padding-inline: 20px;
    z-index: 2;
}

.heading {
    font-family: Raleway, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    word-spacing: 0.5px;
    opacity: 0.9;
}

.text {
    margin-inline: 20px;
    font-family: "Open Sans", serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.75;
}

.hero .cta {
    margin-block-start: 16px;
}

.cta {
    border-radius: 24px;
    padding: 16px 82px;
    background-image: linear-gradient(45deg,
                    hsla(176, 68%, 64%, 1),
                    hsla(198, 60%, 50%, 0.95));
    color: var(--clr__neut--white);
    font-family: Raleway, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
}

.features {
    display: flex;
    flex-direction: column;
    padding-block: 30px;
}

.feature {
    margin-block-end: 90px;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 34px;
}

.feature .copy {
    row-gap: 12px;
}

.feature-icon {
    height: auto;
    width: 64px;
}

.feature-icon--security {
    width: 54px;
}

.feature-heading {
    font-family: Raleway, serif;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.feature .text {
    margin-inline: 5px; 
}

.highlight {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 48px;
    padding-block: 60px;
}

.highlight-img {
    width: 100%;
}

.highlight-img .img {
    margin-inline: auto;
    display: block;
    width: 90%;
}

.highlight .copy {
    row-gap: 15px;
    padding-inline: 8px;
    text-align: left;
}

.highlight .heading {
    font-size: 1.8rem;
    text-indent: 4px;
}

.highlight .text {
    margin-inline: 0;
}

.cta--link {
    align-items: center;
    display: flex;
    column-gap: 6px;
    border-bottom: 1px solid var(--clr__accent--cyan);
    padding-block-end: 5px;
    color: var(--clr__accent--cyan);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    max-width: fit-content;
}

.cta--link::after {
    content: url("../images/icon-arrow.svg");
    max-height: 16px;
}

.testimonials {
    position: relative;
    margin: 110px auto 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-inline: 47px;
    z-index: 0;
    max-width: 375px;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 53px;
    background: url("../images/bg-quotes.png")
                no-repeat
                0 -2% / 22px;
    z-index: -1;
    height: 22px;
    width: 22px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.03); 
    padding: 24px 21px;
    background-color: var(--clr__bg--testimonials);
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.testimonial-text {
    color: var(--clr__neut--white);
    font-size: 0.91rem;
    font-weight: 400;
    letter-spacing: 0.45px;
    line-height: 2;
    opacity: 0.85;
    word-spacing: 0.3px;
}

.testimonial-info {
    column-gap: 8px;
    display: flex;
}

.testimonial-avatar {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.testimonial-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--clr__neut--white);
    letter-spacing: 0.5px;
    line-height: 1;
}

.testimonial-name {
    font-weight: 700;
    opacity: 0.9;
}

.testimonial-title {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.6;
}

.newsletter {
    position: relative;
    top: 173px;
    margin: -19px 20px 0;
    border-radius: 8px;
    box-shadow: 10px 5px 15px 5px hsl(0deg 0% 0% / 15%);
    padding: 40px 20px;
    background-color: var(--clr__bg--intro-email);
    max-width: 425px;
}

.newsletter .copy {
    margin-block-end: 32px;
    row-gap: 15px;
}

.newsletter .heading {
    font-size: 1.8rem;
}

.newsletter .text {
    margin-inline: 6px;
}

.newsletter .email-form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-inline: 6px;
}

.newsletter .email {
    border: none;
    border-radius: 30px;
    padding: 20px 30px 14px;
    font-size: 1.2rem;
    width: 100%;
}

.newsletter .email::placeholder {
    font-size: 1rem;
    opacity: 0.5;
}

.newsletter .email::-moz-placeholder {
    font-size: 1rem;
    opacity: 0.5;
}

.newsletter .email::-webkit-input-placeholder {
    font-size: 1rem;
    opacity: 0.5;
}

.newsletter .cta {
    border: none;
    padding-inline: 0;
    width: 100%;
}

.footer {
    display: grid;
    grid-template-areas: "company-info"
                          "menu-group"
                          "social"
                          "attribution";
    grid-template-rows: repeat(4, max-content);
    row-gap: 80px;
    padding: 245px 28px;
    color: var(--clr__neut--white);
    background-color: var(--clr__bg--footer);
    font-family: "Open Sans", sans-serif;
}

.company-info {
    display: grid;
    grid-area: company-info;
    grid-template-areas: "brand-link"
                          "location"
                          "contact";
    grid-template-rows: repeat(3, max-content);
}

.company-info .brand-link {
    margin: 0 0 38px 11px;
    grid-area: brand-link;
}

.company-info .brand-logo {
    height: auto;
    max-height: 52px;
    max-width: 176px;
    width: 100%;
}

.company-info .location {
    grid-area: location;
    font-size: 1.6rem;
}

.location .icon {
    margin-block-start: 8px;
}

.company-info .contact {
    display: flex;
    flex-direction: column;
    grid-area: contact;
    row-gap: 18px;
    font-size: 1.4rem;
}

.company-info .location,
.company-info .contact-phone,
.company-info .contact-email {
    display: flex;
    column-gap: 20px;
}

.contact-phone,
.contact-email {
    align-items: center;
}

.company-info .icon {
    min-width: 20px;
}

.company-info .footer-text {
    line-height: 1.5;
    opacity: 0.85;
}

.footer .menu-group {
    display: flex;
    flex-direction: column;
    grid-area: menu-group;
    row-gap: 50px;
}

.footer-menu {
    flex-direction: column;
    row-gap: 18px;
}

.footer-menu .menu-item {
    margin-inline: 0;
}

.footer-menu .menu-link {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}

.social {
    margin-inline: auto;
    align-items: center;
    display: flex;
    column-gap: 15px;
    list-style-type: none;
    max-width: fit-content;    
}

.footer .social {
    grid-area: social;
}

.attribution {
    grid-area: attribution;
}
